---
import Layout from "../layouts/Layout.astro";

import HeroSection from "../components/HeroSection.astro";
import IDFSerie from "../components/IDFSerie.astro";
import SpecificiationsSection from "../components/SpecificationsSection.astro";
import TemperaturesSection from "../components/TemperaturesSection.astro";
import EnergySection from "../components/EnergySection.astro";
import DiferentialsSection from "../components/DiferentialsSection.astro";
import MaintenanceOperation from "../components/MaintenanceOperation.astro";
import ReliabilityAndDurabilitySection from "../components/ReliabilityAndDurabilitySection.astro";
---

<Layout
	title="Secadores de Ar SMC IDF"
	description="Desempenho industrial, economia e confiabilidade para sistemas de ar comprimido"
	canonical="/mpa"
>

	<main>
		<HeroSection />

		<DiferentialsSection />

		<IDFSerie />

		<SpecificiationsSection />

		<TemperaturesSection />

		<EnergySection />

		<MaintenanceOperation />

		<ReliabilityAndDurabilitySection />
	</main>

</Layout>
