<section id="serie-idf" class="py-16 lg:py-20 xl:py-32 bg-zinc-100">
  <div class="max-w-7xl xl:container mx-auto px-4 md:px-6 lg:px-8">

    <div class="max-w-4xl mx-auto text-center mb-24">
      <h2 class="text-3xl lg:text-4xl font-semibold text-secondary mb-4">
        Conheça a Série SMC IDF
      </h2>
      <p class="text-lg text-zinc-700">
        A série SMC IDF é composta por diferentes sub-séries projetadas para atender
        faixas variadas de vazão e requisitos operacionais.
      </p>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10">

      <!-- Card -->
      <div class="bg-white p-6 rounded-xl shadow-sm flex flex-col">
        <img src="/mpa/types-section-secador-idf.webp" class="mb-6" alt="IDF" />
        <h3 class="font-bold mb-2">Secador de Ar Comprimido IDF</h3>
        <p class="text-sm text-zinc-700 mb-6">
          Aplicável a compressores de 22 a 75 kW.
        </p>
        <a href="https://wa.me/556235410015" target="_blank" class="mt-auto bg-primary text-white px-4 py-2 rounded-md text-center">
          Solicite um orçamento
        </a>
      </div>

      <div class="bg-white p-6 rounded-xl shadow-sm flex flex-col">
        <img src="/mpa/types-section-secador-idf-def.webp" class="mb-6" alt="IDF DEF" />
        <h3 class="font-bold mb-2">IDF-D / E / F</h3>
        <p class="text-sm text-zinc-700 mb-6">
          Aplicável de 0,75 a 370 kW.
        </p>
        <a href="https://wa.me/556235410015" target="_blank" class="mt-auto bg-primary text-white px-4 py-2 rounded-md text-center">
          Solicite um orçamento
        </a>
      </div>

      <div class="bg-white p-6 rounded-xl shadow-sm flex flex-col">
        <img src="/mpa/types-section-secador-idf-u.webp" class="mb-6" alt="IDU-E" />
        <h3 class="font-bold mb-2">Secador IDU-E</h3>
        <p class="text-sm text-zinc-700 mb-6">
          Para compressores de 2,2 a 75 kW.
        </p>
        <a href="https://wa.me/556235410015" target="_blank" class="mt-auto bg-primary text-white px-4 py-2 rounded-md text-center">
          Solicite um orçamento
        </a>
      </div>

    </div>
  </div>
</section>
