---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import imgIDF from "../assets/images/secador-de-ar-smc-serie-idf-01.webp";
import imgIDFDef from "../assets/images/secador-de-ar-smc-serie-idf-d-e-f.webp";
import imgIDUE from "../assets/images/secador-de-ar-smc-serie-idu-e.webp";
---

<section id="modelos" class="py-16 lg:py-20 xl:py-32 bg-zinc-100">
  <div class="max-w-7xl xl:container mx-auto px-4 md:px-6 lg:px-8">
    <div class="max-w-4xl mx-auto text-center mb-24">
      <h2 class="text-3xl lg:text-4xl font-semibold text-secondary mb-4">
        Conheça a Série SMC IDF
      </h2>
      <p class="text-lg text-zinc-700 mb-10">
        A série SMC IDF é composta por diferentes sub-séries projetadas para
        atender faixas variadas de vazão e requisitos operacionais, incluindo
        opções de economia de energia e modelos extra grandes.
      </p>
    </div>
    <div
      class="xl:max-w-7xl mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-3 md:gap-4 xl:gap-10"
    >
      <div
        class="text-center bg-white p-3 md:p-6 rounded-xl shadow-sm flex flex-col justify-between hover:shadow-lg"
      >
        <div class="mb-6">
          <Image
            src={imgIDF}
            alt="Secador de Ar Comprimido IDF"
            class="w-full h-auto object-contain mx-auto mb-6"
          />
          <h3 class="text-lg font-bold mb-2">Secador de Ar Comprimido IDF</h3>
          <p class="text-zinc-700 text-sm">
            Aplicável a compressores de 22 a 75 kW, ideal para ambientes de alta
            temperatura. Suporta temperatura ambiente de até 45 °C e ar de
            entrada de até 65 °C
          </p>
        </div>
        <a
          href="https://wa.me/556235410015?text=Ol%C3%A1!%20Gostaria%20de%20falar%20com%20um%20vendedor."
          target="_blank"
          class="relative font-semibold rounded-md overflow-hidden group transition-all duration-300 inline-flex items-center justify-center sm:w-auto bg-primary text-white hover:bg-primary-light w-full md:w-auto force-hide-dropdown"
        >
          <span
            class="px-5 py-3 lg:px-6 lg:py-3 relative z-10 flex items-center justify-center gap-2 transition-transform duration-300"
          >
            <Icon name="tabler:brand-whatsapp" class="w-6 h-6" />
            <span class="text-base whitespace-nowrap"
              >Solicite um orçamento</span
            >
          </span>
        </a>
      </div><div
        class="text-center bg-white p-3 md:p-6 rounded-xl shadow-sm flex flex-col justify-between hover:shadow-lg"
      >
        <div class="mb-6">
          <Image
            src={imgIDFDef}
            alt="Secador de Ar Comprimido IDF D/E/F"
            class="w-full h-auto object-contain mx-auto mb-6"
          />
          <h3 class="text-lg font-bold mb-2">
            Secador de Ar Comprimido IDF-D/E/F
          </h3>
          <p class="text-zinc-700 text-sm">
            Aplicável a compressores de 0,75 a 15 kW e de 100 a 370 kW. Suporta
            ar de entrada com temperatura nominal de 35 a 40 °C.
          </p>
        </div>
        <a
          href="https://wa.me/556235410015?text=Ol%C3%A1!%20Gostaria%20de%20falar%20com%20um%20vendedor."
          target="_blank"
          class="relative font-semibold rounded-md overflow-hidden group transition-all duration-300 inline-flex items-center justify-center sm:w-auto bg-primary text-white hover:bg-primary-light w-full md:w-auto force-hide-dropdown"
        >
          <span
            class="px-5 py-3 lg:px-6 lg:py-3 relative z-10 flex items-center justify-center gap-2 transition-transform duration-300"
          >
            <Icon name="tabler:brand-whatsapp" class="w-6 h-6" />

            <span class="text-base whitespace-nowrap"
              >Solicite um orçamento</span
            >
          </span>
        </a>
      </div><div
        class="text-center bg-white p-3 md:p-6 rounded-xl shadow-sm flex flex-col justify-between hover:shadow-lg"
      >
        <div class="mb-6">
          <Image
            src={imgIDUE}
            alt="Secador de Ar Comprimido IDU-E"
            class="w-full h-auto object-contain mx-auto mb-6"
          />
          <h3 class="text-lg font-bold mb-2">Secador de Ar Comprimido IDU-E</h3>
          <p class="text-zinc-700 text-sm">
            Para compressores de 2,2 a 75 kW, ideal para ambientes de alta
            temperatura. Suporta ar de entrada de até 55 °C.
          </p>
        </div>
        <a
          href="https://wa.me/556235410015?text=Ol%C3%A1!%20Gostaria%20de%20falar%20com%20um%20vendedor."
          target="_blank"
          class="relative font-semibold rounded-md overflow-hidden group transition-all duration-300 inline-flex items-center justify-center sm:w-auto bg-primary text-white hover:bg-primary-light w-full md:w-auto force-hide-dropdown"
        >
          <span
            class="px-5 py-3 lg:px-6 lg:py-3 relative z-10 flex items-center justify-center gap-2 transition-transform duration-300"
          >
            <Icon name="tabler:brand-whatsapp" class="w-6 h-6" />

            <span class="text-base whitespace-nowrap"
              >Solicite um orçamento</span
            >
          </span>
        </a>
      </div>
    </div>
  </div>
</section>
