---
import { Icon } from "astro-icon/components";
---

<section class="relative py-16 lg:py-20 xl:py-32 bg-zinc-100">
    <div class="max-w-7xl xl:max-w-6xl mx-auto px-4 md:px-6 lg:px-8">
        <div class="max-w-5xl mx-auto text-center mb-12 lg:mb-24">
            <h2 class="text-3xl font-semibold text-secondary mb-6">
                Temperaturas de Operação
            </h2>
            <p class="text-lg text-zinc-700 mb-10">
                A série SMC IDF foi projetada para operar com segurança em
                diferentes condições térmicas, garantindo desempenho estável
                mesmo em ambientes industriais mais exigentes.
            </p>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
            <div class="p-6 bg-zinc-50 rounded-xl shadow-sm">
                <div class="inline-flex p-2 rounded-md bg-primary mb-12">
                    <Icon
                        name="tabler:temperature-celsius"
                        class="w-6 h-6 text-white"
                    />
                </div>
                <h3 class="text-2xl font-bold mb-2 text-secondary">
                    Até 45 °C
                </h3>
                <p class="text-zinc-700 text-base leading-relaxed">
                    Temperatura máxima suportada para uso na maioria dos
                    ambientes industriais.
                </p>
            </div><div class="p-6 bg-zinc-50 rounded-xl shadow-sm">
                <div class="inline-flex p-2 rounded-md bg-primary mb-12">
                    <Icon
                        name="tabler:temperature-celsius"
                        class="w-6 h-6 text-white"
                    />
                </div>
                <h3 class="text-2xl font-bold mb-2 text-secondary">
                    Até 65 °C
                </h3>
                <p class="text-zinc-700 text-base leading-relaxed">
                    Temperatura de entrada do ar suportada em modelos das séries
                    E e F.
                </p>
            </div><div class="p-6 bg-zinc-50 rounded-xl shadow-sm">
                <div class="inline-flex p-2 rounded-md bg-primary mb-12">
                    <Icon
                        name="tabler:temperature-celsius"
                        class="w-6 h-6 text-white"
                    />
                </div>
                <h3 class="text-2xl font-bold mb-2 text-secondary">
                    Até 60 °C
                </h3>
                <p class="text-zinc-700 text-base leading-relaxed">
                    Temperatura de entrada tolerada nos modelos FS, da linha de
                    economia.
                </p>
            </div>
        </div>
    </div>
</section>
