---
const {
  title = "Secadores de Ar SMC IDF",
  description = "Desempenho industrial, economia e confiabilidade para sistemas de ar comprimido",
  canonical = "/mpa",
} = Astro.props;

const canonicalUrl = new URL(canonical, Astro.site ?? "http://localhost:4321");
import { Font } from 'astro:assets';

import "../styles/global.css";

import WhatsappButton from '../components/WhatsappButton.astro';

---

<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="canonical" href={canonicalUrl.toString()} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="robots" content="index, follow" />
    
    <Font cssVariable='--font-poppins' preload />



  </head>

  <body class="text-zinc-900 bg-white">
    <slot />

    <WhatsappButton />
  </body>
</html>
